{% extends 'base.html' %}

{% block title %}
<h2 align="center">About FBI</h2>
{% endblock %}

{% block content %}

<h4 align="justify">Федеральное бюро расследований, (ФБР) (англ. Federal Bureau of Investigation, FBI) - является органом внутренней разведки и одновременно федеральной правоохранительной структурой Соединенных Штатов.
    Составная часть Министерства юстиции США и Разведывательного сообщества США. Подчиняется Генеральному прокурору и Директору Национальной разведки. Является основным органом контрразведки и антитеррористической деятельности США.
В его полномочия входит расследование нарушений федерального законодательства страны и обеспечение безопасности государства, нации и президента, в том числе путём сбора разведывательных данных агентурными и техническими средствами.
    Гражданам США известна, как структура, проводящая общую проверку тех, кто подал заявление на приём на государственную службу. Под юрисдикцию ФБР попадают не менее 200 видов федеральных преступлений. Основано в 1908 году.</h4>
<h4 align="justify">ФБР появилось как организация Специальных агентов 26 июля 1908 года по инициативе Генерального прокурора США Чарльза Джозефа Бонапарта во время президентства Теодора Рузвельта.
    Сначала организация получила название Бюро расследований (BOI), а в 1932 году была переименована в Бюро расследований Соединённых Штатов. В следующем году оно объединилось с Бюро запрета (бюро по контролю исполнения «сухого» закона) и получило новое название
    Отдел расследований (DOI). И только в 1935 году бюро получило нынешнее название — Федеральное бюро расследований. Директор бывшего BOI — Эдгар Гувер — стал первым директором ФБР и пробыл на этом посту 37 лет.
    После смерти Гувера законодатели изменили закон, ограничив пребывание будущих директоров максимальным периодом 10 лет. Начиная с 1940 года и до 1970-х Бюро занималось расследованием случаев шпионажа против США и союзников.
    В годы Второй мировой войны было схвачено 8 нацистских агентов, готовивших акты саботажа. Созданная при ФБР Специальная разведывательная служба отслеживала деятельность пронацистских группировок в Северной, Центральной и Южной Америках.
В 1971 году была предана огласке секретная программа ФБР — COINTELPRO, действовавшая с 1956 года. В её рамках сотрудники ведомства занимались незаконными провокациями в отношении ряда общественных движений США.
</h4>
{% endblock %}
